<!DOCTYPE html>
<html>
  <head>
    <title>Personal Library</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        Quality Assurance 3 - Personal Library
      </h1>
    </header>
    <br>
    <div id="userstories">
      <h2>User stories:</h2>
      <ol>
        <li>
          I can <strong>POST</strong> a <code>title</code> to <code>/api/books</code>title</code> to add a book to the collection and return an object with the <code>title</code> and a unique <code>_id</code> as a response. If there is no title in the body of the request, return the message "Missing title". Return the message "Title already exists" if the book has already been added to the collection.
        </li>
        <li>
          I can <strong>GET</strong> <code>/api/books</code> to retrieve an array of all book objects containing a <code>title</code>, <code>_id</code>, and <code>commentCount</code>.
        </li>
        <li>
          I can <strong>GET</strong> <code>/api/books/{_id}</code> to retrieve a single book object containing a <code>title</code>, <code>_id</code>, and an array of <code>comments</code> (or an empty array if there are no comments). If I try to request a book that doesn't exist in the collection, return the message "No book exists".
        </li>
        <li>
          I can <strong>POST</strong> a <code>comment</code> to <code>/api/books/{_id}</code> to add a comment to a book and return a book object similar to <strong>GET</strong> <code>/api/books/{_id}</code>. Return the message "Missing comment" if there is no comment in the request body.
        </li>
        <li>
          I can <strong>DELETE</strong> <code>/api/books/{_id}</code> to remove a book from the collection. Return the message "Deletion successful" if you successfully removed the book.
        </li>
        <li>
          I can send a <strong>DELETE</strong> request to <code>/api/books</code> to remove all books from the collection. 
          Return the message "Complete deletion successful" if you successfully removed all books.
        </li>
        <li>All 9 required functional tests are complete and passing.</li>
      </ol>
      <br>
      <table class="tftable" border="1">
        <tr><th><strong>API</strong></th><th><strong>GET</stroth><th><strong>POST</strong></th><th><strong>DELETE</strong></th></tr>
        <tr><td class="grey-column"><strong>/api/books</strong></td><td>List all books</td><td>Add a new book</td><td>Delete all books</td></tr>
        <tr><td class="grey-column"><strong>/api/books/1234</strong></td><td>Show book <i>1234</i></td><td>Add comment to <i>1234</i></td><td>Delete <i>1234</i></td></tr>
      </table>        
    </div>
    <hr style='margin: 50px'>
    <div id ='sampleposting'>
      <h2 style="text-align: left">Test API responses:</h2>
      <form action="/api/books" method="post" class="border">
        <h4>Test post to /api/books</h4>
        Book Title:<br>
        <input type="text" name="title" value=""><br>
        <input type="submit" value="Submit">
      </form>
      <form action="" method="post" id="commentTest" class="border">
        <h4>Test post to /api/books/{bookid}</h4>
        BookId to comment on:<br>
        <input type="text" name="id" value="" id="idinputtest"><br>
        Comment:<br>
        <input type="text" name="comment" value=""><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <hr style='margin: 50px'>
    <div id='sampleui'>
      <h2 style="text-align: left">Sample Front-End:</h2>
      <form id="newBookForm" class="border">
        <input type="text" id="bookTitleToAdd" name="title" placeholder="New Book Title" style="width: 295px">
        <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
      </form>
      <div id='display'></div>          
      <div id='bookDetail' class='border'>
        <p id='detailTitle'>Select a book to see it's details and comments</p>
        <ol id='detailComments'></ol>
      </div>
      <button id='deleteAllBooks'>Delete all books...</button>
    </div>
    <hr style='margin: 50px'>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>           
    <script>
      /*
      *  For #sampleposting to update form action url to test inputs book id
      */
      $(function() {
       $('#commentTest').submit(function(){
         var id = $('#idinputtest').val();
         $(this).attr('action', "/api/books/" + id);
       });
      });
   </script>
  </body>
</html>
